<div class='container'>
<div class='row-fluid col-md-8 col-md-offset-2'>

	<h2 class='blog_post_title'><%= @blog.name %></h2>
	<p class='blog_date'><%= @blog.created_at.strftime("%A, %d %b %Y") %></p>
	<%= image_tag @blog.image.url(:content), class: 'img-responsive' %>
	<br><br>
	<div class='texts'><%= raw RedCloth.new(@blog.content).to_html %></div>	
	<br>
</div>

<div class='row col-md-8 col-md-offset-2'>
	<div class="text-center links">
		<% if current_user.try(:admin?) %>
		<%= link_to 'Edit', edit_blog_path(@blog) %> |
		<% end %>
		<%= link_to 'Back', url_for(:back) %>
	</div>
</div>
</div>