<div class='row'>
	<div class='col-md-10 col-md-offset-1'>
		<%= form_tag(admin_pages_path, :method => "get", id: "search-form") do %>
		  <%= text_field_tag :search, params[:search], placeholder: "Search" %>
		  <%= submit_tag "Search", :name => nil %>
		<% end %>

		<table class='table'>
			<thead>
				<tr>
					<th>ID</th>
					<th>NAME</th>
					<th>PHOTO</th>
					<th>CATEGORY</th>
					<th>SHOW</th>
					<th>EDIT</th>
					<th>DELETE</th>

				</tr>
			</thead>	
			<tbody>
				<% @items.each do |item| %>
					
					<!-- Set show + edit paths --> 
					<% case request.original_url.split('admin/')[1] %>
					<% when 'pages' %>
						<% show_path = subpage_path(item) %>
						<% edit_path = edit_subpage_path(item) %>
					<% when 'photos' %>
						<% show_path = photo_path(item) %>
						<% edit_path = edit_photo_path(item) %>
					<% when 'blog' %>
						<% show_path = blog_path(item) %>
						<% edit_path = edit_blog_path(item) %>
					<% else %>
						<% show_path = root_path %>
						<% edit_path = root_path %>
					<% end %>

					<tr>
						<td><%= item.id %></td>
						<td><%= item.name %></td>
						<td><%= link_to photo_path(item) do %>
							<%= image_tag item.image.url(:thumb), class: 'thumb' %>
						<% end %></td>
						<td><%= item.category %></td>
						<td><%= button_to 'Show', show_path, method: :get, class: 'btn btn-small' %></td>
        			<td><%= button_to 'Edit', edit_path, method: :get, class: 'btn btn-small' %></td>
        			<td><%= button_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-small' %></td>
					</tr>
				<% end %>
			</tbody>
		</table>

	</div>
</div>

<center><%= will_paginate @items, renderer: BootstrapPagination::Rails %></center>