<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <%= link_to image_tag('photo_placeholder.jpg')%>
    </div>
  </div>

  <div class="col-md-6">
    <div class="thumbnail">
      <%= link_to image_tag('photo_placeholder.jpg')%>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <%= link_to image_tag('photo_placeholder.jpg')%>
    </div>
  </div>

  <div class="col-md-6">
    <div class="thumbnail">
      <%= link_to image_tag('photo_placeholder.jpg')%>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <%= link_to image_tag('photo_placeholder.jpg')%>
    </div>
  </div>

  <div class="col-md-6">
    <div class="thumbnail">
      <%= link_to image_tag('photo_placeholder.jpg')%>
    </div>
  </div>
</div>hoto_placeholder.jpg')%>
    </div>
  </div>
</div>
