<div class='shift_forms_up'>

	<%= simple_form_for @contact do |f| %>
	  <%= f.error_notification %>
	  <div class='col-md-6 col-md-offset-3'>
		  <div class="form-inputs">
		    <%= f.input :name, label: false, placeholder: t('contact.name') %>
	        <%= f.input :email, label: false, placeholder: t('contact.email') %>
	        <%= f.input :message, label: false, placeholder: t('contact.message'), :as => :text, :required => false, :input_html => {:rows => 5} %>
		  </div>

		  <div class="form-actions">
		    <%= f.button :submit, t('contact.send_message'), :class => "btn-primary btn-block" %>
		  </div>
	  </div>
	<% end %>

</div>