<div class='shift_forms_up'>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>

    <%= f.input :email, label: false, placeholder: 'Email', required: false, autofocus: true %>
    <%= f.input :password, label: false, placeholder: 'Password', required: false %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

    <%= f.button :submit, "Log in", class: "btn  btn-primary btn-block" %>

	<div class='row col-md-8 col-md-offset-2'>
		<div class="text-center links">
			<%= render "devise/shared/links" %>
		</div>
	</div>

<% end %>

</div>