<center>
<h1>

  	<%= @photo.name %>
</h1>
<h3 class="sub-header">
  <%= @photo.category %>
</h3>

  <%= image_tag @photo.image.url(:original), class: 'img-responsive' %>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', dashboard_path %>
</center>