<center>
<h4 class="sub-header">
<%= @photo.name %> | <%= @photo.category %>
</h4>

  <%= image_tag @photo.image.url(:original), class: 'img-responsive' %>

<h5 class="sub-header">
<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', url_for(:back) %>
</h5>
</center>