
<div class='row col-md-8 col-md-offset-2'>
	<div class='container'>
	<h2 class='blog_post_title'><%= @subpage.name %></h2>
	<p class='blog_date'><%= @subpage.created_at.strftime("%A, %d %b %Y") %></p>
	</div>
	<%= render 'pages/photos' %>
</div>



<div class='row col-md-8 col-md-offset-2'>
	<div class="text-center links">
		<% if current_user.try(:admin?) %>
		<%= link_to 'Edit', edit_subpage_path(@subpage) %> |
		<% end %>
		<%= link_to 'Back', url_for(:back) %>
	</div>
</div>



